<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="file" accept="image/png, image/jpeg" id="pic">
    <input type="date" id="date">
    <button onclick="hy()">send</button>
</body>

<script>
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function hy(){
        let formdata = new FormData()
        formdata.append('pic', document.getElementById("pic").files[0])
        formdata.append('Birth_Date', document.getElementById("date").value)
        formdata.append('gender', 0)
        formdata.append('mbl_num', "0301-6070981")
        formdata.append('religion', "Muslim")

        fetch('/reg/update/profile/', {
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            method: 'POST',
            body: formdata
        }).then(function (response) {
            return response.json();
        }).then(function (response) {
            console.log(response);
        })

    }

</script>
</html>