<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <input type="file" accept="image/png, image/jpeg" id="pic" multiple> -->
    <!-- <input type="date" id="date"> -->
    <input type="datetime-local" id="datetime">
    <input type="number" id="id">
    <button onclick="hy()">send</button>
</body>

<script>
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function hy(){
        let formdata = new FormData()
        // logo = document.getElementById("pic").files[0] ? document.getElementById("pic").files[0] : null;
        // pic1 = document.getElementById("pic").files[1] ? document.getElementById("pic").files[1] : null;
        // pic2 = document.getElementById("pic").files[2] ? document.getElementById("pic").files[2] : null;
        // pic3 = document.getElementById("pic").files[3] ? document.getElementById("pic").files[3] : null;
        date = document.getElementById("datetime").value;

        formdata.append('date', date)
        formdata.append("schl_id", document.getElementById("id").value)
        // formdata.append('logo', logo)
        // formdata.append('pic1', pic1)
        // formdata.append('pic2', pic2)
        // formdata.append('pic3', pic3)
        // formdata.append('birth', document.getElementById("date").value)
        // formdata.append('gender', 0)
        // formdata.append('mbl_num', "0301-6070981")
        // formdata.append('religion', "Muslim")
        // formdata.append('name', "Muhammad Farooq")
        // formdata.append('father_name', "Muhammad Ashraf")

        fetch('/reg/make/schedule/', {
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            method: 'POST',
            body: formdata
        }).then(function (response) {
            return response.json();
        }).then(function (response) {
            console.log(response);
        })

    }

</script>
</html>